<template>
  <div>
    <nui-navigation></nui-navigation>

    <nui-hero :content="hero"></nui-hero>

    <div class="relative my-16 md:my-32">

      <div class="container mb-8">

        <div class="row mt-8">
          <ui-news-card v-for="(item, index) in articles" :content="item" :key="item.id"></ui-news-card>
        </div>

      </div>
    </div>

    <nui-footer></nui-footer>

  </div>
</template>

<script>
  import axios from 'axios'

  import uiNewsCard from '~/components/commons/NewsCard.vue'
  import NuiNavigation from '~/components/partials/Navigation.vue'
  import NuiHero from '~/components/partials/Hero.vue'
  import NuiTeam from '~/components/commons/Team.vue'
  import nuiPeople from '~/components/commons/People'
  import NuiFooter from '~/components/partials/Footer.vue'


  export default {
    components: {
      NuiHero,
      NuiTeam,
      nuiPeople,
      NuiFooter,
      NuiNavigation,
      uiNewsCard
    },
    async asyncData({
      req,
      isServer,
      params,
      store
    }) {
      const data = {};

      if (process.server) {
        data.articles = await import('../../static/data/articles.json')
      } else {
        data.articles = await axios.get('/data/articles.json').then(res => res.data)
      }

      return {
        articles: data.articles.data
      }
    },
    data() {
      return {
        hero: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
          image: '//picsum.photos/1920/680',
        },
        team: {
          title: {
            title: 'Ženska ekipa',
            subtitle: 'SPOZNAJTE NAŠE 3x ZLATE DRŽAVNE IN POKALNE PRVAKINJE'
          }
        }
      }
    }
  }

</script>
