<template>
  <div>
    <ui-navigation></ui-navigation>

    <ui-hero :content="article"></ui-hero>

    <article class="content overflow-hidden">
      <component v-for="(item, index) in article.blocks" :is="item.type" :content="item.content" :key="item.id"></component>

      <div class="container">
        <div class="row">
          <div class="col-12 md:col-8 mx-auto">

            <div class="flex justify-between">
              <ul class="flex">
                <li v-for="item in article.tags" :key="item.id"><a class="text-xs font-bold text-blue-700 rounded border border-blue-700 px-6 py-2 uppercase mr-2 hover:text-white hover:bg-blue-700" :href="item.slug">{{ item.name }}</a></li>
              </ul>
              <a href="#"><ui-icon-share class="h-6 w-6 stroke-current"></ui-icon-share></a>
            </div>

          </div>
        </div>
      </div>


    </article>

    <div class="relative my-16 md:my-32">

      <div class="container mb-8">

        <div class="row mt-8">
          <ui-news-card
            v-for="(item, index) in lastArticles"
            :content="item"
            :key="item.id"
            :class="index === 3 ? 'lg:hidden' : ''"></ui-news-card>
        </div>

      </div>
    </div>

    <ui-footer></ui-footer>

  </div>
</template>

<script>
  import axios from 'axios'
  import uiHero from '~/components/partials/Hero.vue'
  import uiFooter from '~/components/partials/Footer.vue'
  import uiNavigation from '~/components/partials/Navigation.vue'
  import uiText from '~/components/partials/article/Text'
  import uiImage from '~/components/partials/article/Picture'
  import uiQuote from '~/components/partials/article/Quote'
  import uiMatch from '~/components/partials/article/Match'
  import uiGame from '~/components/partials/article/Game'
  import uiReadMore from '~/components/partials/article/ReadMore'
  import uiIconShare from '~/components/svg/IconShare'
  import uiNewsCard from '~/components/commons/NewsCard.vue'
  import uiTitle from '~/components/commons/Title.vue'

  export default {
    components: {
      uiHero,
      uiFooter,
      uiNavigation,
      uiText,
      uiImage,
      uiQuote,
      uiMatch,
      uiGame,
      uiReadMore,
      uiIconShare,
      uiNewsCard,
      uiTitle
    },
    data() {
      return {
        slug: this.$route.path,
      }
    },
    async asyncData({
      req,
      isServer,
      params,
      store
    }) {
      const data = {};

      if (process.server) {
        data.articles = await import('../../static/data/articles.json')
      } else {
        data.articles = await axios.get('/data/articles.json').then(res => res.data)
      }

      return {
        articles: data.articles.data
      }
    },
    computed: {
      article() {
        return this.articles.find(el => el.slug === this.slug);
      },

      // Return the last 3 articles, but it must not include the current one
      lastArticles() {
        return this.articles.filter(el => el.slug !== this.slug).slice(0, 3);
      }
    }
  }

</script>

<style lang="scss">
  .content {

    @apply pt-12;

    &>* {
      @apply py-12;
    }
  }

</style>
