<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M11.1519 15.5401L12.0003 16.3885L18.7887 9.60012L17.0919 7.90332L12.0003 12.9937L6.90871 7.90332L5.21191 9.60012L11.1519 15.5401Z" />
  </svg>
</template>
