<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M19.6801 10.8H4.3201C3.6577 10.8 3.6001 11.3364 3.6001 12C3.6001 12.6636 3.6577 13.2 4.3201 13.2H19.6801C20.3425 13.2 20.4001 12.6636 20.4001 12C20.4001 11.3364 20.3425 10.8 19.6801 10.8ZM19.6801 15.6H4.3201C3.6577 15.6 3.6001 16.1364 3.6001 16.8C3.6001 17.4636 3.6577 18 4.3201 18H19.6801C20.3425 18 20.4001 17.4636 20.4001 16.8C20.4001 16.1364 20.3425 15.6 19.6801 15.6ZM4.3201 8.4H19.6801C20.3425 8.4 20.4001 7.8636 20.4001 7.2C20.4001 6.5364 20.3425 6 19.6801 6H4.3201C3.6577 6 3.6001 6.5364 3.6001 7.2C3.6001 7.8636 3.6577 8.4 4.3201 8.4Z" />
  </svg>
</template>
