<template>
  <svg class="self-end" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M19.5 8C21.2949 8 22.75 6.65685 22.75 5C22.75 3.34315 21.2949 2 19.5 2C17.7051 2 16.25 3.34315 16.25 5C16.25 6.65685 17.7051 8 19.5 8Z"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M6.5 15C8.29493 15 9.75 13.6569 9.75 12C9.75 10.3431 8.29493 9 6.5 9C4.70507 9 3.25 10.3431 3.25 12C3.25 13.6569 4.70507 15 6.5 15Z"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path
      d="M19.5 22C21.2949 22 22.75 20.6569 22.75 19C22.75 17.3431 21.2949 16 19.5 16C17.7051 16 16.25 17.3431 16.25 19C16.25 20.6569 17.7051 22 19.5 22Z"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M9.30469 13.51L16.7039 17.49" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" />
    <path d="M16.693 6.51001L9.30469 10.49" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
</template>
