<template>
  <div class="container my-12">

    <div class="row">

      <div class="col">

        <h1 class="text-xl font-bold mb-4">Hero</h1>

        <ul>
          <li><nuxt-link to="/sink/components/hero">Hero</nuxt-link></li>
          <li><nuxt-link to="/sink/components/newsListSmall">News List Small</nuxt-link></li>
          <li><nuxt-link to="/sink/components/events">Events</nuxt-link></li>
        </ul>
      </div>
    </div>


  </div>
</template>
