<template>
  <div class="">

    <div class="container mb-8 md:mb-12 lg:mb-16">
      <div class="row">
        <div class="col-12 lg:col-8 mx-auto">

          <div class="text-sm uppercase text-blue-700 font-bold" v-if="content.title">{{ content.title }}</div>

          <div class="flex text-gray-700 font-bold text-xl md:text-2xl uppercase mt-4 mb-8">
            <span class="w-1/2">{{ content.home.title }}</span>
            <span class="w-1/2 text-right">{{ content.away.title }}</span>
          </div>

          <div class="flex justify-between items-center">
            <img class="ml-4 rounded-full w-16 h-16 md:w-32 md:h-32" :src="content.home.image" alt="">
            <div class="text-4xl md:text-5xl font-bold text-center">{{ content.result }}</div>
            <img class="mr-4 rounded-full w-16 h-16 md:w-32 md:h-32" :src="content.away.image" alt="">
          </div>

        </div>
      </div>
    </div>


    <div class="py-2 lg:py-8 text-xs md:text-base"
        v-if="content.matches"
        :class="(i % 2 === 0) ? 'bg-blue-300' : 'bg-white'"
        v-for="i in Array(Math.ceil(content.matches.length / 3)).fill().map((v, i) => i)">

      <div class="container">
        <div class="row">

          <div class="col-12 md:col-9 lg:col-7 mx-auto">
            <div class="single-match w-full my-4" v-for="(match, j) in content.matches.slice(i*3, i*3+3)">
              <div class="w-full flex justify-between items-center  my-1"
                :class="(k % 2 === 0) ? 'text-blue-900' : 'text-blue-green'" v-for="(player, k) in match">

                <div class="font-bold w-6 md:w-8 lg:w-10 text-sm md:text-xl">{{ player.sets }}</div>
                <div class="flex-grow">{{ player.name }}</div>

                <ol class="w-6/12 flex justify-start font-bold">
                  <li class="w-8 sm:w-10 md:w-10 lg:w-12 xl:w-16 text-center" v-for="point in player.points">{{ point }}</li>
                </ol>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: {
      content: Object,
    }
  }
</script>
