<template>
  <div>
  <div class="bg-blue-300 py-2 lg:py-8 text-xs md:text-base">

    <div class="container">
      <div class="row">

        <div class="col-12 md:col-9 lg:col-7 mx-auto">
          <div class="w-full flex justify-between items-center  my-1"
            :class="(i % 2 === 0) ? 'text-blue-900' : 'text-blue-green'" v-for="(player, i) in content">

            <div class="font-bold w-8 md:w-12 lg:w-16 text-base md:text-xl lg:text-4xl">{{ player.sets }}</div>
            <div class="flex-grow text-base md:text-xl lg:text-2xl">{{ player.name }}</div>

            <ol class="w-6/12 flex justify-start font-bold">
              <li class="w-8 sm:w-10 md:w-10 lg:w-12 xl:w-16 text-center" v-for="point in player.points">{{ point }}
              </li>
            </ol>

          </div>

        </div>

      </div>
    </div>
  </div>
  </div>
</template>

<script>
  export default {
    props: {
      content: Array,
    }
  }

</script>
