<template>
  <div class="container">
    <div class="row">
      <div class="col-12 md:col-10 mx-auto relative">
        <img class="absolute" style="z-index: -1;top: 50%; width: 980px; left: 30%;" src="/images/dots.png" alt="">
        <figure>
          <picture>
            <source :srcset="content.image" type="image/webp">
            <img class="w-full rounded" :src="content.image" alt="Consectetur quam tellus diam ut">
          </picture>
          <figcaption class="w-full text-center text-gray-300 my-4" v-if="content.caption">{{ content.caption }}
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      content: Object,
    }
  }

</script>
