<template>
  <div class="container">
    <div class="row">
      <div class="col-12 md:col-8 mx-auto">
        <blockquote class="text-gray-500 italic relative font-serif">
          <p class="text-lg sm:text-xl lg:text-2xl">{{ content.quote }}</p>
          <footer class="text-right text-lg pt-6" v-if="content.author">{{ content.author }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      content: Object,
    }
  }

</script>

<style lang="scss" scoped>
  blockquote:before {
    @apply text-blue-300 absolute;

    content: "“";
    top: -6rem;
    left: -3rem;
    font-size: 200px;
    opacity: 0.7;
    z-index: -1;
  }

</style>
