<template>
  <div class="container text-xl text-gray-500">
    <div class="row">
      <div class="col-12 md:col-8 mx-auto">
        <h3 class="text-3xl font-bold text-gray-700 mb-8">{{ content.title }}</h3>
        <ul class="list-disc list-inside">
          <li class="md:pl-6 lg:pl-8 text-gray-500" v-for="item in content.items"><a class="underline hover:text-pink-500" :href="item.url">{{ item.title }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      content: Object,
    }
  }

</script>

<style lang="scss">

</style>
