<template>
  <div class="article container text-xl text-gray-500">
    <div class="row">
      <div class="col-12 md:col-8 mx-auto" v-html="content.text"></div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      content: Object,
    }
  }

</script>

<style lang="scss">
.article {
  strong {
    @apply font-bold;
  }

  p {
    text-indent: 2rem;
  }

  p+p {
    @apply mt-8;
  }

  ul, ol {
    @apply list-inside pl-16 my-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  h2 {
    @apply text-4xl font-bold text-gray-700 mb-8 mt-24;
  }

  h3 {
    @apply text-2xl font-bold text-gray-700 mb-8 mt-20;
  }
}

</style>
