<template>
  <article class="content overflow-hidden">

    <component v-for="(item, index) in content" :is="'nui' + item.type" :content="item.content" :key="item.id"></component>

    <div class="container">
      <div class="row">
        <div class="col-12 md:col-8 mx-auto">

          <div class="flex justify-between">
            <ul class="flex">
              <li><a class="text-xs font-bold text-blue-700 rounded border border-blue-700 px-6 py-2 uppercase mr-2 hover:text-white hover:bg-blue-700" href="#">Prva liga</a></li>
            </ul>
            <a href="#"><nui-icon-share class="h-6 w-6 stroke-current"></nui-icon-share></nui-icon-share></a>
          </div>

        </div>
      </div>
    </div>


  </article>
</template>

<script>
  import nuitext from '~/components/partials/article/Text'
  import nuiPicture from '~/components/partials/article/Picture'
  import nuiQuote from '~/components/partials/article/Quote'
  import nuiMatch from '~/components/partials/article/Match'
  import nuiGame from '~/components/partials/article/Game'
  import nuiReadMore from '~/components/partials/article/ReadMore'
  import nuiIconShare from '~/components/svg/IconShare'
  import nuiNews from '~/components/News'

  export default {
    components: {
      nuitext,
      nuiPicture,
      nuiQuote,
      nuiMatch,
      nuiGame,
      nuiReadMore,
      nuiIconShare,
      nuiNews
    },
    props: {
      content: Object,
    }
  }

</script>

<style lang="scss">
  .content {

    @apply pt-12;

    &>* {
      @apply py-12;
    }
  }

</style>
