<template>

  <div class="container">
    <div class="row">
      <div class="col-12 md:col-10 mx-auto">

        <ul class="flex py-4">
          <li><span
              class="cursor-pointer text-xs font-bold rounded border border-blue-700 px-6 py-2 uppercase mr-2 hover:text-white hover:bg-blue-700"
              :class="category === 'Č' ? 'bg-blue-700 text-white' : 'text-blue-700'"
              v-on:click="setCategory('Č')">Člani</span></li>
          <li><span
              class="cursor-pointer text-xs font-bold rounded border border-blue-700 px-6 py-2 uppercase mr-2 hover:text-white hover:bg-blue-700"
              :class="category === 'M' ? 'bg-blue-700 text-white' : 'text-blue-700'"
              v-on:click="setCategory('M')">Mladinci</span></li>
        </ul>

        <table class="table-auto w-full rounded overflow-hidden">
          <thead>
            <tr class="bg-blue-200 text-right text-xs">
              <th class="px-2 py-2 pl-6">#</th>
              <th class="px-4 py-2 text-center">Klub</th>
              <th class="px-4 py-2 text-left">Priimek in ime</th>
              <th class="px-2 py-2 text-center">Kat.</th>
              <th class="px-2 py-2 text-center">Vsota</th>
              <th class="px-2 py-2">1.</th>
              <th class="px-2 py-2">2.</th>
              <th class="px-2 py-2">3.</th>
              <th class="px-2 py-2">4.</th>
              <th class="px-2 py-2">5.</th>
              <th class="px-2 py-2">6.</th>
              <th class="px-2 py-2">7.</th>
              <th class="px-2 py-2 pr-6">8.</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-right" v-for="(player, index) in rankings"
              :class="(index % 2 === 1) ? 'bg-blue-200' : ''">
              <td class="px-2 py-2">{{ index + 1 }}.</td>
              <td class="px-4 py-2"><img class="rounded-full mx-auto" src="//picsum.photos/24" alt="NTK Arrigoni"></td>
              <td class="px-4 py-2 text-left">{{ player.name }}</td>
              <td class="px-2 py-2 text-center font-bold">{{ player.category }}</td>
              <td class="px-2 py-2 text-center font-bold">{{ player.score }}</td>
              <td class="px-2 py-2" v-for="placement in player.placements">{{ placement }}</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>

</template>

<script>
  export default {
    components: {},
    props: {
      content: Array,
    },
    data() {
      return {
        category: ''
      }
    },
    computed: {
      rankings: function () {
        let rankings = this.content.map(item => {
          return Object.assign(item, {score: item.placements.reduce((a, b) => a + b, 0)})
        })

        if (this.category !== '') {
          rankings = rankings.filter(player => player.category == this.category)
        }

        return rankings.sort((a, b) => a.score - b.score)
      }
    },
    methods: {
      setCategory: function (category) {
        if (this.category === category) {
          this.category = ''
        } else {
          this.category = category
        }
      }
    }
  }

</script>

<style lang="scss">
  .content {

    @apply pt-12;

    &>* {
      @apply py-12;
    }
  }

</style>
