<template>
  <div class="relative mb-32" style="background: linear-gradient(180deg, rgba(229, 248, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);">
    <img class="absolute right-0" style="top: 16px; width: 980px;" src="/images/dots.png" alt="">
    <div class="container pt-20 mb-8">
      <div class="row">
        <div class="col">
          <h2 class="text-3xl font-bold">Latest news</h2>
        </div>
      </div>

      <div class="row mt-8">
        <NewsSingle></NewsSingle>
        <NewsSingle></NewsSingle>
        <NewsSingle></NewsSingle>
      </div>

    </div>
  </div>
</template>

<script>
  import NewsSingle from '~/components/commons/NewsCard.vue'

  export default {
    components: {
      NewsSingle
    }
  }

</script>

<style>
</style>
