<template>
  <div>
    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">Event list</h1>
      </div>
    </div>

    <nui-events :content="events"></nui-events>

  </div>
</template>

<script>
  import nuiEvents from '~/components/partials/Events.vue'

  export default {
    components: {
      nuiEvents
    },
    data() {
      return {
        events: {
          title: {
            title: 'Zadnji dogodki'
          },
          items: [
            {
              title: 'Orci orci risus',
              subtitle: 'praesent tristique pulvinar',
              date: 'SOB 26. 10. • 17:00',
            },
           {
              title: 'Orci orci risus',
              subtitle: 'praesent tristique pulvinar',
              date: 'SOB 26. 10. • 17:00',
            },
            {
              title: 'Orci orci risus',
              subtitle: 'praesent tristique pulvinar',
              date: 'SOB 26. 10. • 17:00',
            }
          ]
        }
      }
    }
  }

</script>
