<template>
  <div>
    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">Hero with image</h1>
      </div>
    </div>

    <nui-hero :content="hero"></nui-hero>

    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">Hero Article</h1>
      </div>
    </div>

    <nui-hero :content="hero_article"></nui-hero>

    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">Hero without image</h1>
      </div>
    </div>

    <nui-hero :content="hero_no_image"></nui-hero>

    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">Hero only title</h1>
      </div>
    </div>

    <nui-hero :content="hero_only_title"></nui-hero>
  </div>
</template>

<script>
  import nuiHero from '~/components/partials/Hero.vue'

  export default {
    components: {
      nuiHero
    },
    data() {
      return {
        hero: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
          image: '//picsum.photos/1920/680',
        },
        hero_no_image: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
        },
        hero_article: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
          subtitle: 'Praesent tristique pulvinar',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
          image: '//picsum.photos/1920/680',
          date: '17. junij 2019',
          author: 'Jorge Russel'
        },
        hero_only_title: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          subtitle: 'Lacus bibendum imperdiet id neque',
        },
      }
    }
  }

</script>
