<template>
  <div>
    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">News List with dots</h1>
      </div>
    </div>

    <nui-news-list-small :content="news"></nui-news-list-small>

    <div class="bg-gray-500 py-16">
      <div class="container">
        <h1 class="text-2xl font-bold text-gray-300">News List without dots</h1>
      </div>
    </div>

    <nui-news-list-small :content="news_no_dots"></nui-news-list-small>

  </div>
</template>

<script>
  import nuiNewsListSmall from '~/components/partials/NewsListSmall.vue'

  export default {
    components: {
      nuiNewsListSmall
    },
    data() {
      return {
        news: {
          dots: true,
          title: {
            title: 'Zadnje novice',
            cta: {
              title: 'Poglej vse novice',
              url: '#',
            }
          },
          items: [
            {
              title: 'Orci orci risus',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            },
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
            },
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            },
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            }
          ]
        },
        news_no_dots: {
          dots: false,
          title: {
            title: 'Zadnje novice',
            cta: {
              title: 'Poglej vse novice',
              url: '#',
            }
          },
          items: [
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
            },
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            },
            {
              title: 'Orci orci',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            },
            {
              title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
              url: '#',
              image: '//picsum.photos/1920/680',
              date: '17. junij 2019',
              author: 'Jorge Russel'
            }
          ]
        }
      }
    }
  }

</script>
