@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400i&display=swap&subset=latin-ext');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  --webkit-font-smoothing: antialiased;
}

.transition {
  transition: all 250ms ease-in-out;
}

::selection {
  background: #29648A; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #29648A; /* Gecko Browsers */
  color: white;
}
