<template>
  <div>
    <nui-navigation :items="menu"></nui-navigation>

    <nui-hero :content="hero"></nui-hero>

    <component v-for="(item, index) in content" :is="item.type" :content="item.content" :key="item.id"></component>

    <nui-footer></nui-footer>

  </div>
</template>

<script>
  import NuiNavigation from '~/components/partials/Navigation.vue'
  import NuiHero from '~/components/partials/Hero.vue'

  import nuiNewsListSmall from '~/components/partials/NewsListSmall.vue'
  import nuiEvents from '~/components/partials/Events.vue'
  import nuiVod from '~/components/partials/Vod.vue'
  import nuiGallery from '~/components/partials/Gallery.vue'

  import NuiFooter from '~/components/partials/Footer.vue'


  export default {
    components: {
      NuiHero,
      nuiNewsListSmall,
      nuiEvents,
      nuiVod,
      nuiGallery,
      NuiFooter,
      NuiNavigation
    },
    async asyncData({
      req,
      isServer,
      params,
      store
    }) {
      const data = {}

      if (process.server) {
        data.menu = await import('../static/data/navigation.json')
      } else {
        data.menu = await axios.get('/data/navigation.json').then(res => res.data)
      }

      return {
        menu: data.menu
      }
    },
    data() {
      return {
        hero: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
          image: '//picsum.photos/1920/680',
        },
        content: [{
            type: "nuiNewsListSmall",
            content: {
              dots: true,
              title: {
                title: 'Zadnje novice',
                cta: {
                  title: 'Poglej vse novice',
                  url: '#',
                }
              },
              items: [{
                  title: 'Orci orci risus',
                  url: '#',
                  image: '//picsum.photos/1920/680',
                  date: '17. junij 2019',
                  author: 'Jorge Russel'
                },
                {
                  title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
                  url: '#',
                  image: '//picsum.photos/1920/680',
                  date: '17. junij 2019',
                },
                {
                  title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
                  url: '#',
                  image: '//picsum.photos/1920/680',
                  date: '17. junij 2019',
                  author: 'Jorge Russel'
                },
                {
                  title: 'Orci orci risus feugiat justo, praesent tristique pulvinar',
                  url: '#',
                  image: '//picsum.photos/1920/680',
                  date: '17. junij 2019',
                  author: 'Jorge Russel'
                }
              ]
            },
          },
          {
            type: "nuiEvents",
            content: {
              title: {
                title: 'Zadnji dogodki'
              },
              items: [{
                  title: 'Orci orci risus',
                  subtitle: 'praesent tristique pulvinar',
                  date: 'SOB 26. 10. • 17:00',
                },
                {
                  title: 'Orci orci risus',
                  subtitle: 'praesent tristique pulvinar',
                  date: 'SOB 26. 10. • 17:00',
                },
                {
                  title: 'Orci orci risus',
                  subtitle: 'praesent tristique pulvinar',
                  date: 'SOB 26. 10. • 17:00',
                }
              ]
            }
          },
          {
            type: "nuiVod",
            content: {
              title: {
                title: 'Zadnji dogodki',
                cta: {
                  title: 'Poglej vse novice',
                  url: '#',
                }
              },
              image: "//picsum.photos/1920/814",
              url: "#"
            }
          },
          {
            type: "nuiGallery",
            content: {
              title: {
                title: 'Zadnji dogodki',
                cta: {
                  title: 'Poglej vse novice',
                  url: '#',
                }
              },
              items: [{
                  url: "#",
                  image: "//picsum.photos/700/700",
                  title: "Mladinsko državno prvenstvo 2019",
                  subtitle: "29 photos • 13 views"
                },
                {
                  url: "#",
                  image: "//picsum.photos/700/700",
                  title: "Mladinsko državno prvenstvo 2019",
                  subtitle: "29 photos • 13 views"
                },
                {
                  url: "#",
                  image: "//picsum.photos/700/700",
                  title: "Mladinsko državno prvenstvo 2019",
                  subtitle: "29 photos • 13 views"
                },
                {
                  url: "#",
                  image: "//picsum.photos/700/700",
                  title: "Mladinsko državno prvenstvo 2019",
                  subtitle: "29 photos • 13 views"
                },
                {
                  url: "#",
                  image: "//picsum.photos/700/700",
                  title: "Mladinsko državno prvenstvo 2019",
                  subtitle: "29 photos • 13 views"
                }
              ]
            }
          }
        ]

      }
    }
  }

</script>
