<template>
  <div>
    <nui-navigation></nui-navigation>

    <nui-hero :content="hero"></nui-hero>

    <nui-ladder :content="ladder"></nui-ladder>

    <nui-footer></nui-footer>

  </div>
</template>

<script>
  import NuiHero from '~/components/partials/Hero.vue'
  import NuiLadder from '~/components/Ladder.vue'
  import NuiFooter from '~/components/partials/Footer.vue'
  import NuiNavigation from '~/components/partials/Navigation.vue'

  export default {
    components: {
      NuiHero,
      NuiLadder,
      NuiFooter,
      NuiNavigation
    },
    data() {
      return {
        hero: {
          title: 'Lestvica primorske regije',
          subtitle: 'Primorska regija',
        },
        ladder: [
          {
            name: 'Janez Novak',
            category: 'Č',
            placements: [
              1, 4
            ]
          },
          {
            name: 'Franci Novak',
            category: 'Č',
            placements: [
              3, 1
            ]
          },
          {
            name: 'Toni Novak',
            category: 'M',
            placements: [
              2, 2
            ]
          },
          {
            name: 'Bine Novak',
            category: 'M',
            placements: [
              4, 3
            ]
          },

        ]
      }
    }
  }

</script>

<style>

</style>
