<template>
  <div>
    <nui-navigation :items="menu"></nui-navigation>

    <nui-hero :content="page"></nui-hero>

    <article class="content overflow-hidden">

      <component v-for="(item, index) in page.blocks" :is="item.type" :content="item.content" :key="item.id"></component>

    </article>

    <nui-footer></nui-footer>

  </div>
</template>

<script>
  import axios from 'axios'

  import NuiHero from '~/components/partials/Hero.vue'
  import NuiPage from '~/components/Page.vue'
  import NuiFooter from '~/components/partials/Footer.vue'
  import NuiNavigation from '~/components/partials/Navigation.vue'
  import uiText from '~/components/partials/article/Text'
  import uiImage from '~/components/partials/article/Picture'
  import uiQuote from '~/components/partials/article/Quote'
  import uiPeople from '~/components/commons/Team'
  import nuiReadMore from '~/components/partials/article/ReadMore'
  import nuiIconShare from '~/components/svg/IconShare'

  export default {
    components: {
      NuiHero,
      NuiPage,
      NuiFooter,
      NuiNavigation,
      uiText,
      uiImage,
      uiQuote,
      uiPeople,
      nuiReadMore,
      nuiIconShare
    },
    data() {
      return {
        id: this.$route.path.replace(/\/$/, ""),
        hero: {
          title: 'Lestvica primorske regije',
          subtitle: 'Primorska regija',
        },
      };
    },
    async asyncData({
      req,
      isServer,
      params,
      store
    }) {
      const data = {}

      if (process.server) {
        data.pages = await import('../static/data/pages.json')
        data.menu = await import('../static/data/navigation.json')
      } else {
        data.pages = await axios.get('/data/pages.json').then(res => res.data)
        data.menu = await axios.get('/data/navigation.json').then(res => res.data)
      }

      return {
        pages: data.pages.data,
        menu: data.menu.data
      }
    },
    computed: {
      page() {
        return this.pages.find(el => el.slug === this.id);
      }
    }
  }

</script>

<style>

</style>
