<template>
  <div>
    <nui-navigation></nui-navigation>

    <nui-hero :content="hero"></nui-hero>
    <nui-team :content="team"></nui-team>
    <nui-people></nui-people>

    <nui-footer></nui-footer>

  </div>
</template>

<script>
  import NuiNavigation from '~/components/partials/Navigation.vue'
  import NuiHero from '~/components/partials/Hero.vue'
  import NuiTeam from '~/components/commons/Team.vue'
  import nuiPeople from '~/components/commons/People'
  import NuiFooter from '~/components/partials/Footer.vue'


  export default {
    components: {
      NuiHero,
      NuiTeam,
      nuiPeople,
      NuiFooter,
      NuiNavigation
    },
    data() {
      return {
        hero: {
          title: 'Orci orci risus feugiat justo, praesent tristique pulvinar ',
          excerpt: 'Lacus bibendum imperdiet id neque. Dapibus enim, ullamcorper nunc blandit lacus, potenti fringilla vitae. At eu consectetur ultrices tellus. Id sed quam consequat, purus vitae cursus nulla sed. Neque, condimentum gravida eros et quam enim imperdiet. šćžđč',
          image: '//picsum.photos/1920/680',
        },
        team: {
          title: {
            title: 'Ženska ekipa',
            subtitle: 'SPOZNAJTE NAŠE 3x ZLATE DRŽAVNE IN POKALNE PRVAKINJE'
          }
        }
      }
    }
  }

</script>
