<template>
  <div class="py-8 lg:py-16">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-2 md:mb-4">
          <span class="text-gray-500 font-bold uppercase md:text-lg lg:text-xl">{{ content.subtitle }}</span>
        </div>
        <div class="col-12 sm:col-8">
          <h2 class="text-gray-700 font-bold text-xl md:text-2xl lg:text-4xl">{{ content.title }}</h2>
        </div>
        <div class="col-12 mt-8 sm:mt-0 sm:col-4 flex justify-end items-end">
          <span class="uppercase md:text-lg lg:text-xl text-blue-green">{{ content.date }}</span>
        </div>
      </div>

    </div>


  </div>
</template>

<script>
  import nuiBullet from '~/components/svg/Bullet'

  export default {
    components: {
      nuiBullet
    },
    props: {
      content: Object
    }
  }

</script>

<style lang="scss" scoped>

</style>
