<template>
  <nuxt-link :to="content.slug" class="col-12 md:col-6 lg:col-4 group mb-16 flex flex-col">
    <img class="rounded w-full h-48 sm:h-64 md:h-48 xl:h-64 object-cover" :src="content.cover.card" alt="">
    <div class="px-2 flex-grow flex flex-col">
      <h3 class="transition flex-grow truncate-after-two-lines text-gray-700 text-2xl font-bold pt-4 pb-2 group-hover:text-pink-500">{{ content.title }}</h3>

      <div class="flex items-center justify-between text-gray-500">

        <div class="flex items-center text-sm md:text-base">
          <span class="pr-4">{{ content.published_at }}</span>
          <nui-bullet class="fill-current h-2 w-2" v-if="content.author"></nui-bullet>
          <span class="pl-4" v-if="content.author">{{ content.author }}</span>
        </div>

      </div>

    </div>
  </nuxt-link>
</template>

<script>
  import nuiIconShare from '~/components/svg/IconShare'
  import nuiBullet from '~/components/svg/Bullet'

  export default {
    components: {
      nuiIconShare,
      nuiBullet
    },
    props: {
      content: Object
    }
  }

</script>

<style lang="scss" scoped>

// Does not work in IE, has ok compatibilty otherwise
.truncate-after-two-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

</style>
