<template>
  <div class="mt-32">

    <div class="container">
      <div class="row">
        <div class="col-12 flex flex-wrap justify-around">

          <a href="" class="w-full md:w-1/2 lg:w-1/3 mb-16 flex group justify-center" v-for="index in [0, 1]">
            <figure class="w-64 flex flex-col items-center">
              <img class="transition rounded-full w-full h-auto" src="//picsum.photos/256" alt="Ime Priimek">
              <figcaption class="flex flex-col items-center">
                <h3 class="text-2xl uppercase font-bold pt-8"> Ime Priimek</h3>
                <span class="text-lg italic text-gray-300 pt-1">Glavni trener</span>
                <ul class="flex flex-col items-center pt-6 text-xl">
                  <li class="my-1">mlajši kadeti in kadetinje</li>
                  <li class="my-1">kadeti in kadetinje</li>
                  <li class="my-1">mladinci in mladinke</li>
                </ul>
              </figcaption>
            </figure>
          </a>

        </div>
      </div>

    </div>
  </div>
</template>

<script>

  export default {
    methods: {
      justify: function (index) {
        if ((index % 3) === 0) {
          return 'justify-center lg:justify-start'
        } else if ((index % 3) === 1) {
          return 'justify-center'
        } else {
          return 'justify-center lg:justify-end'
        }
      }
    }
  }

</script>

<style lang="scss" scoped>
  a:hover {
    img {
      filter: grayscale(100%);
    }
  }

</style>
