<template>
  <div class="mt-32">

    <nui-title :content="content"></nui-title>

    <div class="container">
      <div class="row">
        <div class="col-12 flex flex-wrap">

          <a href="" class="w-full md:w-1/2 lg:w-1/3 mb-16 flex group" v-for="person in content.people"
            :class="justify(index)">
            <figure class="w-64 flex flex-col items-center">
              <img class="transition rounded-full w-full h-auto" :src="person.portrait" :alt="person.name">
              <figcaption class="transition text-2xl uppercase font-bold pt-8 group-hover:text-pink-500">{{ person.name }}
              </figcaption>
            </figure>
          </a>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import nuiTitle from '~/components/commons/Title'

  export default {
    components: {
      nuiTitle
    },
    props: {
      content: Object
    },
    methods: {
      justify: function (index) {
        if ((index % 3) === 0) {
          return 'justify-center lg:justify-start'
        } else if ((index % 3) === 1) {
          return 'justify-center'
        } else {
          return 'justify-center lg:justify-end'
        }
      }
    }
  }

</script>

<style lang="scss" scoped>
  a:hover {
    img {
      filter: grayscale(100%);
    }
  }

</style>
