<template>
  <div class="container mb-6 lg:mb-8">
    <div class="row">
      <div class="col">
        <h2 class="text-xl md:text-2xl lg:text-3xl text-gray-700 font-bold">{{ content.title }}</h2>
        <nuxt-link :to="content.cta.url" class="transition text-xs md:text-sm lg:text-base text-blue-700 mt-2 hover:text-pink-500" v-if="content.cta">{{ content.cta.title }}</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: {
      content: Object
    }
  }

</script>
