<template>
  <div class="my-16 lg:my-32">

    <nui-title :content="content.title"></nui-title>

    <nui-event-card
      v-for="(item, index) in content.items"
      :content="item"
      :key="item.id"
      :class="(index % 2 === 0) ? 'bg-blue-200' : ''"></nui-event-card>

  </div>
</template>

<script>
  import nuiEventCard from '~/components/commons/EventCard.vue'
  import nuiTitle from '~/components/commons/Title'


  export default {
    components: {
      nuiEventCard,
      nuiTitle
    },
    props: {
      content: Object
    }
  }

</script>

<style>
</style>
