<template>
  <footer class="bg-blue-900 text-white mt-32 relative">
    <img class="absolute" style="top: 16px; right: 16px; width: 700px;" src="/images/dots_dark.png" alt="">
    <img class="absolute bottom-0 right-0" style="width: 454px;" src="/images/table.png" alt="">
    <div class="container pt-20 pb-24">
      <div class="row">

        <div class="col-3">
          <h4 class="text-xl font-bold mb-6">NTK Arrigoni Izola</h4>
          <ul class="">
            <li>Novice</li>
            <li>Liga</li>
            <li>Klub</li>
            <li>Kontakt</li>
          </ul>
        </div>

        <div class="col-3">
          <h4 class="text-xl font-bold mb-6">Naslov</h4>
          <p>NTK Arrigoni Izola<br>Dantejeva 18 P.P. 37<br>6310 Izola</p>
        </div>

        <div class="col-12 mt-10">
          <ul class="flex">
            <li class="mr-2"><a href="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M35 5.83372C35 2.7685 32.2327 0 29.1667 0H5.83333C2.76733 0 0 2.7685 0 5.83372V29.1663C0 32.2315 2.76733 35 5.83372 35H17.5V21.7778H13.2222V15.9444H17.5V13.6718C17.5 9.75217 20.4431 6.22222 24.0625 6.22222H28.7778V12.0556H24.0625C23.5464 12.0556 22.9444 12.6821 22.9444 13.6204V15.9444H28.7778V21.7778H22.9444V35H29.1667C32.2327 35 35 32.2315 35 29.1663V5.83372Z"
                    fill="white" />
                </svg></a></li>
            <li class="mr-2"><a href="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="35" height="35" rx="7" fill="white" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M27.4891 7.61421C28.9554 7.7871 30.1734 8.94605 30.5162 10.5169C31.0001 12.7358 31 15.1562 31 17.443V17.4993C31 19.8023 30.9983 22.244 30.5101 24.4811C30.1673 26.052 28.949 27.211 27.4836 27.3839C24.0121 27.793 20.4983 27.7952 16.999 27.793C13.5003 27.7952 9.98562 27.793 6.51377 27.3839C5.0475 27.2107 3.8301 26.0517 3.48789 24.4811C3 22.2443 3 19.8026 3 17.4993C3 15.1961 3.00549 12.7541 3.49338 10.5169C3.83617 8.94605 5.05329 7.7871 6.51868 7.61421C9.99082 7.20533 13.5057 7.2032 17.0045 7.20533C20.5026 7.2032 24.017 7.20533 27.4891 7.61421ZM13.3867 12.3152V22.0835C14.6369 21.3996 15.8824 20.7184 17.1273 20.0375C18.8453 19.0979 20.5622 18.1589 22.2883 17.2144C19.3021 15.571 16.3542 13.9486 13.3867 12.3152Z"
                    fill="#022D41" />
                </svg>
              </a></li>
            <li><a href="#"><svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M35 4.57879C35 2.04995 32.9501 0 30.4212 0H4.57879C2.04995 0 0 2.04995 0 4.57879V30.421C0 32.9501 2.04995 35 4.57879 35H30.421C32.9501 35 35 32.9501 35 30.4212V4.57879ZM12.0112 21.2806C9.92308 21.2806 8.23029 19.5878 8.23029 17.4997C8.23029 15.4115 9.92308 13.7188 12.0112 13.7188C14.0994 13.7188 15.7922 15.4115 15.7922 17.4997C15.7922 19.5878 14.0994 21.2806 12.0112 21.2806ZM19.3326 17.4997C19.3326 19.5878 21.0254 21.2806 23.1136 21.2806C25.2017 21.2806 26.8945 19.5878 26.8945 17.4997C26.8945 15.4115 25.2017 13.7188 23.1136 13.7188C21.0254 13.7188 19.3326 15.4115 19.3326 17.4997Z"
                    fill="white" />
                </svg>
              </a>
            </li>
          </ul>
          <div class="mt-8 text-sm">© 2019 NTK Arrigoni</div>
        </div>
      </div>
    </div>

  </footer>
</template>

<style>
</style>
