<template>
  <div class="my-16 md:my-32">

    <nui-title :content="content.title"></nui-title>

    <div class="container mb-8">

      <div class="row mt-8">

        <div class="col-12">
          <div class="gallery">

            <a :href="item.url"v-for="(item, index) in content.items" :class="'gallery__item--' + index"
              class="gallery__item block relative rounded overflow-hidden">
              <img class="rounded w-full h-full object-cover" :src="item.image" :alt="item.title">
              <div class="absolute inset-0 w-full h-full flex"
                style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #091112 100%)">
                <div class="px-4 py-6 flex flex-col justify-end">
                  <h3 class="text-white font-bold text-2xl pb-1">{{ item.title }}</h3>
                  <span class="text-white text-sm">{{ item.subtitle }}</span>
                </div>
              </div>
            </a>

          </div>
        </div>



      </div>

    </div>
  </div>
</template>

<script>
  import nuiTitle from '~/components/commons/Title'

  export default {
    components: {
      nuiTitle
    },
    props: {
      content: Object
    }
  }

</script>

<style lang="scss" scoped>
  .gallery {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 330px);

    @screen md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 330px);
    }

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 350px);
    }
  }

  .gallery__item--0 {
    @screen md {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

</style>
