<template>
  <div class="mt-8">
    <div class="container mb-6 md:mb-8">
      <div class="w-full md:w-10/12 mx-auto">
        <div class="uppercase text-sm md:text-base lg:text-lg text-blue-700" v-if="content.subtitle">{{ content.subtitle }}</div>
        <h1 class="text-3xl md:text-4xl lg:text-5xl text-gray-700 font-bold my-6 md:my-8">{{ content.title }}</h1>
        <p class="text-lg md:text-xl lg:text-2xl text-gray-500 font-light">{{ content.excerpt }}</p>
        <div
          class="flex items-center mt-8 text-gray-300 text-xl"
          v-if="content.created_at || content.author">
            {{ content.created_at }}<nui-bullet v-if="content.created_at && content.author" class="fill-current h-2 w-2 mx-4"></nui-bullet>{{ content.author }}
        </div>
      </div>
    </div>
    <img class="w-full h-64 md:h-auto object-cover" v-if="content.cover" :src="content.cover.default" :alt="content.title">
  </div>
</template>

<script>

import nuiBullet from '~/components/svg/Bullet'

  export default {
    components: {
      nuiBullet
    },
    props: ['content']
  }

</script>
