<template>
  <nav class="py-4 lg:py-8">
    <div class="container">
      <div class="flex items-center justify-between flex-wrap">
        <div class="flex items-center flex-shrink-0 mr-6">
          <nuxt-link to="/">
            <nui-logo class="w-20 lg:w-40 h-auto" />
          </nuxt-link>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 text-blue-700 ">
            <nui-hamburger class="w-6 h-6 fill-current" />
          </button>
        </div>
        <ol
          class="fixed lg:static bottom-0 right-0 z-30 bg-white lg:bg-transparent text-lg lg:text-base font-bold lg:font-normal text-right lg:text-left lg:block w-full flex-grow lg:flex lg:items-center lg:justify-end lg:w-auto">

          <li v-for="(item, index) in items" :key="item.id" class="">

            <nuxt-link :to="item.url" v-if="item.url"
              class="transition block mt-0 lg:mt-4 lg:mt-0 px-6 lg:uppercase lg:inline-block"
              :class="item.featured ? 'hidden lg:block font-bold py-2 lg:py-2 bg-blue-700 hover:bg-pink-500 text-white rounded ml-6' : 'py-4 lg:py-0 hover:text-pink-500'">
              {{ item.title }}
            </nuxt-link>

            <span v-if="!item.url"
              class="relative transition cursor-pointer block mt-0 lg:mt-4 lg:mt-0 py-4 lg:py-0 px-6 lg:inline-block group">
              <div class="flex items-center lg:uppercase group-hover:text-pink-500 justify-end lg:justify-start">
                {{ item.title }}
                <nui-arrow-down class="ml-1 h-4 w-4 fill-current" />
              </div>
              <div
                class="static lg:absolute h-0 lg:h-auto left-0 invisible opacity-0 transition group-hover:visible group-hover:opacity-100 group-hover:pt-4">
                <svg class="hidden lg:block pl-8 h-4 text-blue-900 fill-current" viewBox="0 0 32 16"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14.5858 1.41421C15.3668 0.633164 16.6332 0.633165 17.4142 1.41421L32 16H0L14.5858 1.41421Z" />
                </svg>

                <ol class="lg:bg-blue-900 lg:rounded lg:py-4 lg:shadow-2xl lg:text-blue-300">

                  <li v-for="subitem in item.items" class="whitespace-no-wrap">
                    <nuxt-link :to="subitem.url" class="block px-6 py-2 hover:bg-blue-700 w-full">{{ subitem.title }}
                    </nuxt-link>
                  </li>
                </ol>
              </div>
            </span>
          </li>


          <!-- Mobile Menu Logo and close button -->
          <li class="flex lg:hidden items-center justify-between px-6 py-6">
            <nui-logo class="w-20 lg:w-40 h-auto" />
            <nui-hamburger class="w-6 h-6 fill-current" />
          </li>

        </ol>
      </div>
    </div>

  </nav>
</template>

<script>
  import nuiLogo from '~/components/svg/Logo'
  import nuiHamburger from '~/components/svg/Hamburger'
  import nuiArrowDown from '~/components/svg/ArrowDown'

  export default {
    name: 'Navigation',
    components: {
      nuiLogo,
      nuiHamburger,
      nuiArrowDown
    },
    props: ['items']
  }

</script>

<style lang="scss" scoped>


</style>
