<template>
  <div class="relative" :class="content.dots ? 'mb-16 md:mb-32' : 'my-16 md:my-32'">

    <img v-if="content.dots" class="absolute right-0 background" style="" src="/images/dots.png" alt="">

    <nui-title :content="content.title" :class="content.dots ? 'pt-8 lg:pt-16' : ''"></nui-title>

    <div class="container mb-8">

      <div class="row mt-8">
        <nui-news-card
          v-for="(item, index) in content.items"
          :content="item"
          :key="item.id"
          :class="index === 3 ? 'lg:hidden' : ''"></nui-news-card>
      </div>

    </div>
  </div>
</template>

<script>
  import nuiNewsCard from '~/components/commons/NewsCard.vue'
  import nuiTitle from '~/components/commons/Title.vue'

  export default {
    components: {
      nuiNewsCard,
      nuiTitle
    },
    props: {
      content: Object
    }
  }

</script>

<style lang="scss" scoped>

.background {
  top: 16px;
  width: 980px; // The actual width of the image, since using a x2 size
  max-width: none;
}

</style>
