<template>
  <div class="my-16 md:my-32">
    <nui-title :content="content.title"></nui-title>

    <nuxt-link :to="content.url"><img class="w-screen" :src="content.image" alt=""></nuxt-link>

  </div>
</template>

<script>
  import nuiTitle from '~/components/commons/Title'

  export default {
    components: {
      nuiTitle
    },
    props: {
      content: Object
    }
  }

</script>

<style>
</style>
